<%-include('../../views/partials/admin/header')%>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Categories</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/admin/category">Categories</a></li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Categories</h5>
            <div>
              <a
                href="/admin/addCategory"
                class="btn btn-primary"
                style="border: none; text-decoration: none; background: #e7ab3c"
                >Add New Category</a
              >
            </div>
            <% if(cat.length > 0){ %>
            <table class="table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Category Name</th>
                  <th>Description</th>
                  <th>Offer Percentage / Offer Price</th>
                  <th>Offer</th>
                  <th>Status</th>
                  <th>List/Unlist</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <%cat.reverse().forEach((category,index)=>{%>
                <tr id="category-<%=category._id%>">
                  <td style="width: 10%">
                    <img
                      src="<%=category.categoryImage%>"
                      alt="<%=category.name%>"
                      style="width: 100%"
                    />
                  </td>
                  <td><%=category.name%></td>
                  <td><%=category.description%></td>
                  <td>
                    <% if(category.categoryOffer){ %>
                      <% if(category.categoryOffer?.discountType === 'Percentage') { %>
                        <%= (category.categoryOffer.value)%>%
                      <% }else{ %>
                        Rs <%= (category.categoryOffer?.value) %>
                      <% } %>
                    <% }else{ %>
                    <p style="color: red">No Offers</p>
                    <% } %>
                  </td>
                  <td>
                    <% if(category.categoryOffer){ %>
                    <button class="btn btn-danger btn-sm">
                      <a
                        href="#"
                        style="text-decoration: none"
                        class="text-white"
                        onclick="removeOffer('<%=category._id%>')"
                        >Remove Offer</a
                      >
                    </button>
                    <% }else{ %>
                    <button
                      class="btn btn-sm"
                      style="border: none; background: #e7ab3c"
                    >
                      <a
                        href="/admin/addCategoryOffer?id=<%=category._id%>"
                        style="text-decoration: none"
                        class="text-white"
                        >Add Offer</a
                      >
                    </button>
                    <% } %>
                  </td>
                  <td>
                    <% if(category.isListed){ %>
                    <span
                      class="badge rounded-pill alert-success"
                      style="background-color: green"
                      >Listed</span
                    >
                    <% }else{ %>
                    <span
                      class="badge rounded-pill alert-danger"
                      style="background-color: red"
                      >Unlisted</span
                    >
                    <% } %>
                  </td>
                  <td>
                    <% if(category.isListed){ %>
                    <button class="btn btn-danger btn-sm">
                      <a
                        
                        class="text-white"
                        style="text-decoration: none"
                        onclick="confirmUnlist('<%=category._id%>')"
                        >Unlist</a
                      >
                    </button>
                    <% }else{ %>
                    <button class="btn btn-success btn-sm">
                      <a
                        
                        class="text-white"
                        style="text-decoration: none"
                        onclick="confirmList('<%=category._id%>')"
                        >List</a
                      >
                    </button>
                    <% } %>
                  </td>
                  <td>
                    <button class="btn btn-primary btn-sm mb-1">
                      <a
                        href="/admin/editCategory?id=<%=category._id%>"
                        class="text-white"
                        style="text-decoration: none"
                        >Edit</a
                      >
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      onclick="return confirmDelete('<%=category._id%>')"
                      onclick="removeCategory('<%=category._id%>')"
                    >
                      Remove
                    </button>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
            <% }else{ %>
            <div
              class="my-4"
              style="display: flex; justify-content: space-around"
            >
              <h3>No category</h3>
            </div>
            <% } %>
          </div>
          <div class="container mt-3">
            <nav aria-label="Page navigation">
              <ul
                class="pagination justify-content-center mb-20"
                style="margin-right: 200px"
              >
                <% for(let i=1 ; i<=totalPages ; i++){ %>
                <li class="page-item <%=(i===currentPage)? 'active' : ''%>">
                  <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<div id="errorModal" class="modal" tabindex="-1" style="position:absolute;padding-top:37%">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: darkred;color:white;flex-direction: row;">
      <div class="modal-body">
        <%= errorMessage || "" %>
      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
<!-- Sweet alert and bootstrap links -->
<script>

  function removeOffer(categoryId) {
    Swal.fire({
      title: "Remove Offer",
      text: "Are you sure? You want to remove this offer?",
      icon: "warning",
      showCancelButton: "true",
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "d33",
      confirmButtonText: "Yes, remove it",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/admin/removeCategoryOffer",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify({ categoryId: categoryId }),
          success: function (response) {
            Swal.fire("Success", response.message, "success").then(() => {
            $(`#category-${categoryId} td:nth-child(5)`).html(
              `<button class="btn btn-sm" style="border: none; background: #e7ab3c">
                <a href="/admin/addCategoryOffer?id=${categoryId}"
                   style="text-decoration: none" 
                   class="text-white">
                   Add Offer
                </a>
              </button>`
            );
            $(`#category-${categoryId} td:nth-child(4)`).html(
              `<p style="color:red">No Offers</p>`
            )
          });
          },
          error: function (error) {
            Swal.fire("Error", "Something went wrong! Please try again.", "error");
          },
        });
      }
    });
  }
  function confirmDelete(categoryId) {
  Swal.fire({
    title: "Are you sure?",
    text: "Do you want to delete the category?",
    icon: "warning",
    showCancelButton: true,
    confirmButtonText: "Yes, Delete it!",
    cancelButtonText: "Cancel",
    reverseButtons: true,
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url: `/admin/removeCategory/${categoryId}`,
        type: "DELETE",
        contentType: "application/json",
        success: function(response) {
          Swal.fire(
            "Deleted",
            "The category has been deleted successfully",
            "success"
          ).then(() => {
            $(`#category-${categoryId}`).remove();
          });
        },
        error: function(xhr, status, error) {
          Swal.fire(
            "Error!",
            "Something went wrong! Please try again.",
            "error"
          );
        },
      });
    }
  });
}

function confirmUnlist(categoryId){
  Swal.fire({
    title:'Are you sure?',
    text:'Do you want to unlist this category?',
    icon:'warning',
    showCancelButton:true,
    confirmButtonText:'Yes, Unlist it!',
    cancelButtonText:"Cancel",
    reverseButtons:true
  }).then((result) => {
    if(result.isConfirmed){
      $.ajax({
        url:`/admin/listCategory?id=${categoryId}`,
        type:"GET",
        contentType:"application/json",
        success: function(response){
          Swal.fire(
            "Unlisted",
            "The category has been unlisted successfully",
            "success"
          )
          .then(() => {
            $(`#category-${categoryId} td:nth-child(6)`).html(
              `<span class="badge rounded-pill alert-danger" style="background-color:red">Unlisted</span>`
            )
            $(`#category-${categoryId} td:nth-child(7)`).html(
              `<button class="btn btn-success btn-sm">
                <a class="text-white" style="text-decoration:none" onclick="confirmList('${categoryId}')">List</a>
              </button>`
            )
          })
        }
      })
    }
  })
}

function confirmList(categoryId){
  Swal.fire({
    title:'Are you sure?',
    text:'Do you want to list this category?',
    icon:'warning',
    showCancelButton:true,
    confirmButtonText:'Yes, List it!',
    cancelButtonText:"Cancel",
    reverseButtons:true
  }).then((result) => {
    if(result.isConfirmed){
      $.ajax({
        url:`/admin/unlistCategory?id=${categoryId}`,
        type:"GET",
        contentType:"application/json",
        success: function(response){
          Swal.fire(
            "Listed",
            "The category has been listed successfully",
            "success"
          )
          .then(() => {
            $(`#category-${categoryId} td:nth-child(6)`).html(
              `<span class="badge rounded-pill alert-success" style="background-color:green">Listed</span>`
            )
            $(`#category-${categoryId} td:nth-child(7)`).html(
              `<button class="btn btn-danger btn-sm">
                <a href="/admin/listCategory?id=${categoryId}" class="text-white" style="text-decoration:none" onclick="confirmUnlist('${categoryId}')">Unlist</a>
              </button>`
            )
          })
        }
      })
    }
  })
}

  document.addEventListener("DOMContentLoaded",() => {
    const errorMessage = "<%= errorMessage %>";
      if(errorMessage){
        const errorModal = new bootstrap.Modal(document.getElementById("errorModal"));
        errorModal.show();
      }
  })
</script>
<%-include('../../views/partials/admin/footer')%>
