<%-include('../../views/partials/admin/header')%>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Coupons</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"><a href="/admin/coupons">Coupons</a></li>
      </ol>
    </nav>
  </div>
  
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coupons</h5>
            <div>
              <a
                href="/admin/addCoupon"
                class="btn btn-primary"
                style="border: none; text-decoration: none; background: #e7ab3c"
                >Add New Coupon</a
              >
            </div>
            <% if(coupons.length > 0){ %>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Coupon code</th>
                  <th>Minimum Price</th>
                  <th>Expires on</th>
                  <th>Discount Type</th>
                  <th>Discount</th>
                  <th>Usage Limit</th>
                  <th>Usage Count</th>
                  <th>Status</th>
                  <th>Activate/Deactivate</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% coupons.forEach(coupon => { %>
                <tr id="coupon-<%=coupon._id%>">
                  <td><%=coupon.name%></td>
                  <td><%=coupon.code%></td>
                  <td><%=coupon.minimumPrice%></td>
                  <td><%=new Date(coupon.expireOn).toDateString()%></td>
                  <td><%=coupon.discountType%></td>
                  <td>
                    <% if(coupon.discountType === 'Percentage'){ %>
                    <%=coupon.discount%>% <% }else{ %> Rs <%=coupon.discount%>
                    <% } %>
                  </td>
                  <td><%=coupon.usageLimit%></td>
                  <td><%=coupon.usedCount%></td>
                  <td>
                    <% if(coupon.isActive){ %>
                    <span
                      class="badge rounded-pill alert-success"
                      style="width: 60px; background-color: green"
                      >Active</span
                    >
                    <% }else{ %>
                    <span
                      class="badge rounded-pill alert-danger"
                      style="width: 60px; background-color: red"
                      >Inactive</span
                    >
                    <% } %>
                  </td>
                  <td class="text-start">
                    <% if(coupon.isActive){ %>
                    <button class="btn btn-danger btn-sm">
                      <a
                        
                        class="text-white"
                        onclick="confirmDeactivate('<%=coupon._id%>')"
                        >Deactivate</a
                      >
                    </button>
                    <% }else{ %>
                    <button class="btn btn-success btn-sm">
                      <a
                        
                        class="text-white"
                        onclick="confirmActivate('<%=coupon._id%>')"
                        >Activate</a
                      >
                    </button>
                    <% } %>
                  </td>
                  <td>
                    <button
                      class="btn btn-danger btn-sm"
                      onclick="removeCoupon('<%=coupon._id%>')"
                    >
                      Remove
                    </button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% }else{ %>
            <h3>No coupon is added</h3>
            <% } %>
          </div>
          <div class="container mt-3">
            <nav aria-label="Page navigation">
              <ul
                class="pagination justify-content-center mb-20"
                style="margin-right: 200px"
              >
                <% for(let i=1 ; i<=totalPages ; i++){ %>
                <li class="page-item <%=(i===currentPage)? 'active' : ''%>">
                  <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<div id="errorModal" class="modal" tabindex="-1" style="position:absolute;padding-top:37%">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: darkred;color:white;flex-direction: row;">
      <div class="modal-body">
        <%= errorMessage || "" %>
      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
<script>
  function confirmActivate(couponId){
    Swal.fire({
      title:'Are you sure?',
      text:'Do you want to activate this coupon?',
      icon:'warning',
      showCancelButton:true,
      confirmButtonText:'Yes, Activate it!',
      cancelButtonText:'Cancel',
      reverseButtons:true
    }).then((result) => {
      if(result.isConfirmed){
        $.ajax({
          url:`/admin/activeCoupon?id=${couponId}`,
          type:"GET",
          contentType:"application/json",
          success: function(response){
            Swal.fire(
              "Activated",
              "The coupon has been activated successfully",
              "success"
            )
            .then(() => {
              $(`#coupon-${couponId} td:nth-child(9)`).html(
               `<span class="badge rounded-pill alert-success" style="width:60px;background-color:green">
                Active
                </span>` 
              )
              $(`#coupon-${couponId} td:nth-child(10)`).html(
                `<button class="btn btn-danger btn-sm">
                  <a class="text-white" onclick="confirmDeactivate('${couponId}')">Deactivate</a>
                 </button>`
              )
            })
          }
        })
      }
    })
  }

  function confirmDeactivate(couponId){
    Swal.fire({
      title:'Are you sure?',
      text:'Do you want to deactivate this coupon?',
      icon:'warning',
      showCancelButton:true,
      confirmButtonText:'Yes, Deactivate it!',
      cancelButtonText:'Cancel',
      reverseButtons:true
    }).then((result) => {
      if(result.isConfirmed){
        $.ajax({
          url:`/admin/inactiveCoupon?id=${couponId}`,
          type:"GET",
          contentType:"application/json",
          success: function(response){
            Swal.fire(
              "Deactivated",
              "The coupon has been deactivated successfully",
              "success"
            )
            .then(() => {
              $(`#coupon-${couponId} td:nth-child(9)`).html(
               `<span class="badge rounded-pill alert-danger" style="width:60px;background-color:red">
                Inactive
                </span>` 
              )
              $(`#coupon-${couponId} td:nth-child(10)`).html(
                `<button class="btn btn-success btn-sm">
                  <a class="text-white" onclick="confirmActivate('${couponId}')">Activate</a>
                 </button>`
              )
            })
          }
        })
      }
    })
  }

  function removeCoupon(couponId) {
    Swal.fire({
      title: "Are you sure?",
      text: "Do you want to delete the coupon?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes Delete it!",
      cancelButtonText: "Cancel",
      reverseButtons: true,
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url:`/admin/removeCoupon/${couponId}`,
          type:"DELETE",
          contentType:"application/json",
          success:function(response){
            Swal.fire(
              "Deleted",
              "The coupon has been deleted successfully",
              "success"
            ).then(() => {
              $(`#coupon-${couponId}`).remove();
            })
          },
          error:function(xhr,status,error){
            Swal.fire(
              "Error!",
              "Something went wrong! Please try again.",
              "error"
            );
          }
        });
      }
    });
  }
  document.addEventListener("DOMContentLoaded",() => {
    const errorMessage = "<%= errorMessage %>";
      if(errorMessage){
        const errorModal = new bootstrap.Modal(document.getElementById("errorModal"));
        errorModal.show();
      }
  })
</script>

<%-include('../../views/partials/admin/footer')%>
