<%- include("../../views/partials/admin/header") %>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Offers</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
          <li class="breadcrumb-item active"><a href="/admin/offer">Offers</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Offers</h5>
              <% if(offers.length > 0){ %>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>Offer Type</th>
                    <th>Discount Type</th>
                    <th>Value</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Activate/Deactivate</th>
                  </tr>
                </thead>
                <tbody>
                    <% offers.forEach(offer => { %>
                  <tr id="offer-<%= offer._id %>">
                    <td><%= offer.offerType %></td>
                    <td><%= offer.discountType %></td>
                    <% if(offer.rewardType === 'Percentage'){ %>
                      <td><%= offer.value %> % </td>
                    <% }else{%>
                      <td><%= (offer.value).toFixed(2) %></td>
                    <% } %>
                    <td><%= new Date(offer.startDate).toLocaleString() %></td>
                    <td><%= new Date(offer.endDate).toLocaleString() %></td>
                    <td>
                        <% if(offer.isActive){ %>
                            <span class="badge rounded-pill alert-success" style="width: 60px;">Active</span>
                        <% }else{ %>
                            <span class="badge rounded-pill alert-danger" style="width: 60px;">Not active</span>
                        <% } %>
                    </td>
                    <td>
                        <% if(offer.isActive){ %>
                            <button class="btn btn-danger btn-sm"><a href="/admin/activateOffer?id=<%=offer._id%>" class="text-white">Activate</a></button>
                        <% }else{ %>
                            <button class="btn btn-success btn-sm"><a href="/admin/deactivateOffer?id=<%=offer._id%>" class="text-white">Deactivate</a></button>
                        <% } %>
                    </td>
                  </tr>
                <% }) %>
                </tbody>
              </table>
              <% }else{ %>
                <h3>No offer is added</h3>
              <% } %>
            </div>
            <div class="container mt-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
                        <% for(let i=1 ; i<=totalPages ; i++){ %>
                            <li class="page-item <%=(i===currentPage)? 'active' : ''%>">
                                <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
const toggleButton = document.querySelector(".toggle-sidebar-btn");
const body = document.body;

if (toggleButton) {
  toggleButton.addEventListener("click", function () {
    body.classList.toggle("toggle-sidebar");
  });
}

const toggleLinks = document.querySelectorAll(".nav-link[data-bs-toggle='collapse']");

toggleLinks.forEach((link) => {
  link.addEventListener("click", function () {
    const chevronIcon = this.querySelector(".bx");


      if (this.classList.contains("show")) {
        setTimeout(() => {
        chevronIcon.classList.remove("bx-chevron-up");
        chevronIcon.classList.add("bx-chevron-down");
      }, 100); 
      } else {
        setTimeout(() => {
        chevronIcon.classList.remove("bx-chevron-down");
        chevronIcon.classList.add("bx-chevron-up");
      }, 100); 
      }
     
  });
});
});

</script>
</body>
</html>

<!-- <main class="col-md-10 ml-sm-auto px-4">
    <h3 class="my-4">Offers</h3>
    <div>
        <div>
            <a href="/admin/addOffer" class="btn px-2 py-2 text-white mb-4" style="background-color: #04625f;border-radius: 5px;">Add Offer</a>
        </div>
    </div>
    <table class="table table-hover table-bordered product-table" style="box-shadow: 1px 1px 8px black;">
        <thead class="thead-light" style="background-color: #04625f;color:white">
            <tr>
                <th scope="col">Offer Type</th>
                <th scope="col">Discount Type</th>
                <th scope="col">Value</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Activate/Deactivate</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody style="background-color: #f0ffff;color:#04625f">
            <% if (offers && offers.length > 0) { %>
                <% offers.forEach(offer => { %>
                <tr id="offer-<%= offer._id %>">
                    <td><%= offer.offerType %></td>
                    <td><%= offer.discountType %></td>
                    <td><%= (offer.value).toFixed(2) %>%</td>
                    <td><%= new Date(offer.startDate).toLocaleString() %></td>
                    <td><%= new Date(offer.endDate).toLocaleString() %></td>
                    <td class="text-start">
                        <% if(offer.isActive){ %>
                        <span class="badge rounded-pill alert-success" style="width: 60px;">Active</span>
                        <% }else{ %>
                        <span class="badge rounded-pill alert-danger" style="width: 60px;">Not active</span>
                        <% } %>
                      </td>
                      <td class="text-start">
                        <% if(offer.isActive){ %>
                        <button class="btn btn-danger btn-sm"><a href="/admin/activateOffer?id=<%=offer._id%>" class="text-white">Activate</a></button>
                        <% }else{ %>
                        <button class="btn btn-success btn-sm"><a href="/admin/deactivateOffer?id=<%=offer._id%>" class="text-white">Deactivate</a></button>
                        <% } %>
                      </td>
                </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="8" class="text-center">No offers available</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</main>

<div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

<script>
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
</body>
</html> -->