<%- include("../../views/partials/admin/header") %>

<main class="col-md-10 ml-sm-auto px-4">
    <h3 class="my-4">Offers</h3>
    <div>
        <div>
            <a href="/admin/addOffer" class="btn btn-red mb-4">Add Offer</a>
        </div>
    </div>
    <table class="table table-bordered product-table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Offer Type</th>
                <th scope="col">Discount Type</th>
                <th scope="col">Value</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Activate/Deactivate</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (offers && offers.length > 0) { %>
                <% offers.forEach(offer => { %>
                <tr id="offer-<%= offer._id %>">
                    <td><%= offer.offerType %></td>
                    <td><%= offer.discountType %></td>
                    <td><%= (offer.value).toFixed(2) %>%</td>
                    <td><%= new Date(offer.startDate).toLocaleString() %></td>
                    <td><%= new Date(offer.endDate).toLocaleString() %></td>
                    <td class="text-start">
                        <% if(offer.isActive){ %>
                        <span class="badge rounded-pill alert-success" style="width: 60px;">Active</span>
                        <% }else{ %>
                        <span class="badge rounded-pill alert-danger" style="width: 60px;">Not active</span>
                        <% } %>
                      </td>
                      <td class="text-start">
                        <% if(offer.isActive){ %>
                        <button class="btn btn-danger btn-sm"><a href="/admin/activateOffer?id=<%=offer._id%>" class="text-white">Activate</a></button>
                        <% }else{ %>
                        <button class="btn btn-success btn-sm"><a href="/admin/deactivateOffer?id=<%=offer._id%>" class="text-white">Deactivate</a></button>
                        <% } %>
                      </td>
                </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="8" class="text-center">No offers available</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</main>

<div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

<script>
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
</body>
</html>