<%-include('../../views/partials/admin/header')%>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Orders</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/admin/orders">Orders</a></li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Orders</h5>
          <% if (orders && orders.length > 0) { %>
            <table class="table">
              <thead>
                <tr>
                  <th>Orders ID</th>
                  <th>Status</th>
                  <th>Change Status</th>
                  <th>Action</th>
                  <th>More Details</th>
                </tr>
              </thead>
              <tbody>
              <% orders.forEach(order => { %>
                <tr id="">
                  <td><%= order.orderId %></td>
                  <td>
                  <% order.items.forEach( item => {%>
                  <div style="display: flex;flex-direction: column;margin-top: 1rem;"><%= item.status %></div>
                  <%})%>
                  </td>

                  <td>
                    <% order.items.forEach( item => {%>
                      <% if(item.status!=='Cancelled' || item.status!=='Returned'){%>
                      <form action="/admin/orders/<%= order._id %>/<%=item.productId._id%>/status" method="POST" style="margin-top:1rem">
                          <select name="status" id="status">
                              <option value="Pending" <%= item.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                              <option value="Processing" <%= item.status === 'Processing' ? 'selected' : '' %>>Processing</option>
                              <option value="Shipped" <%= item.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                              <option value="Delivered" <%= item.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                              <option value="Cancelled" <%= item.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                              <option value="Return Request" <%= item.status === 'Return Request' ? 'selected' : '' %>>Return Request</option>
                              <option value="Returned" <%= item.status === 'Returned' ? 'selected' : '' %>>Returned</option>
                          </select>
                          <button type="submit" class="btn btn-primary">Update Status</button>
                      </form>
                      <% }else{ %>
                        <p style="margin-top: 1rem;">Order <%= item.status %></p>
                      <% } %>
                      <%})%>
                  </td>
                  
                 
                  <td>
                    <% order.items.forEach( item => {%>
                      <% if(item.status!=='Cancelled'){%>
                      <form action="/admin/orders/<%= order._id %>/<%=item.productId._id%>/cancel" method="POST" style="margin-top:1rem">
                          <button type="submit" class="btn btn-danger" <% if (item.status !== 'Pending') { %>disabled<% } %> >Cancel Order</button>
                      </form>
                      <% }else{ %>
                       <p style="margin-top:1rem;">Order <%= item.status %></p>
                        <% } %>
                        <%})%>
                  </td>
                  
                  <td>
                      <a href="/admin/moreDetails/<%=order._id%>" class="btn-btn-primary" style="text-decoration:none;margin-top:1rem">More Details</a>
                  </td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          <% }else{ %>
              <h3>No orders is available</h3>
          <% } %>
          </div>
          <div class="container mt-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
                    <% for(let i=1 ; i<=totalPages ; i++){ %>
                        <li class="page-item <%=(i===currentPage)? 'active' : ''%>">
                            <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>

        </div>

      </div>
    </div>
  </section>

</main>
<div id="errorModal" class="modal" tabindex="-1" style="position:absolute;padding-top:37%">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: darkred;color:white;flex-direction: row;">
      <div class="modal-body">
        <%= errorMessage || "" %>
      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded",() => {
    const errorMessage = "<%= errorMessage %>";
      if(errorMessage){
        const errorModal = new bootstrap.Modal(document.getElementById("errorModal"));
        errorModal.show();
      }
  })
</script>
<%-include('../../views/partials/admin/footer')%>