<%- include("../../views/partials/admin/header") %>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Order Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item active">
          <a href="/admin/offer">Order Details</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="orders-list">
    <div
      class="order-card px-3 py-3 mx-3 my-3"
      style="
        border: 1px solid #e7ab3c;
        box-shadow: inset 0px 0px 9px 0px #e7ab3c;
        border-radius: 8px;
      "
    >
      <p>Order ID: <%= orders.orderId %></p>
      <hr />
      <ul>
        <% orders.items.forEach(item => { %>
        <li>
          <img
            src="/uploads/re-image/<%= item.productId.productImage[0] %>"
            alt="<%= item.productId.productName %>"
            style="width: 50px; height: 50px"
          /><br />
          <span
            ><%= item.productId.productName %> | <%= item.quantity %> item</span
          ><br />
          <span>Rs <%= orders.finalAmount %></span>
          <% if(item.rating){ %>
          <p>
            <span class="star-rating">
              <% for (let i = 1; i <= 5; i++) { %>
              <span class="star <%= i <= item.rating ? 'selected' : '' %>"
                >&#9733;</span
              >
              <% } %>
            </span>
          </p>
          <p>Review: <%= item.review %></p>
          <% }else{ %>
          <p>No ratings</p>
          <% } %>
        </li>
        <% }) %>
      </ul>

      <hr />
      <h5>Order Date: <%= orders.createdOn.toLocaleDateString() %></h5>

      <h5>Status: <%= orders.status %></h5>

      <h3>Delivered on <%=orders.deliveryDate.toLocaleDateString()%></h3>
    </div>

    <div
      class="order-card px-3 py-3 mx-3 my-3"
      style="
        border: 1px solid #e7ab3c;
        box-shadow: inset 0px 0px 9px 0px #e7ab3c;
        border-radius: 8px;
      "
    >
      <p>Shipping Details</p>
      <hr />
      <% if (orders.addressDetails) { %>

      <address>
        <div
          class="text-white w-25 text-center"
          style="border-radius: 10px; background: #e7ab3c"
        >
          <h5 class="py-2"><%= orders.addressDetails.addressType%></h5>
        </div>
        <%= orders.addressDetails.name %> <br />
        <%= orders.addressDetails.city %>, <%= orders.addressDetails.state %>
        <br />
        <%= orders.addressDetails.pincode %> <br />
        Phone: <%= orders.addressDetails.phone %> <br />
        Alt Phone: <%= orders.addressDetails.altPhone %>
      </address>

      <% } else { %>
      <p>No shipping address available.</p>
      <% } %>

      <h3>Delivered on <%=orders.deliveryDate.toLocaleDateString()%></h3>
    </div>
    <div
      class="order-card px-3 py-3 mx-3 my-3"
      style="
        border: 1px solid #e7ab3c;
        box-shadow: inset 0px 0px 9px 0px #e7ab3c;
        border-radius: 8px;
      "
    >
      <p>Price Details</p>
      <hr />
      <ul style="list-style: none">
        <% orders.items.forEach(item => { %>
        <li>List Price : <%= item.productId.regularPrice %></li>
        <li>Selling Price : Rs <%= item.productId.salePrice %></li>
        <li>Delivery charge : FREE</li>
        <hr />

        <% }) %>
        <li>Total Amount : <%= orders.finalAmount%></li>
      </ul>
      <hr />
      <p>Payment Method: <%= orders.paymentMethod %></p>
    </div>
  </div>
</main>
<%- include("../../views/partials/admin/footer") %>
