<%- include("../../views/partials/admin/header") %>

<main class="col-md-10 ml-sm-auto px-4">
    <h3 class="my-4">Referral Offers</h3>
    <div>
        <div>
            <a href="/admin/addReferral" class="btn mb-4" style="background-color: #42ada8;color:#fff">Add Referral Offer</a>
        </div>
    </div>
    <table class="table table-bordered product-table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Reward Type</th>
                <th scope="col">Reward Value</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% referrals.forEach(referral => { %>
                <tr id="referral-<%=referral._id%>">
                    <td><%= referral.code %></td>
                    <td><%= referral.rewardType %></td>
                    <% if(referral.rewardType === 'Percentage'{ %>
                    <td><%= referral.rewardValue %> % </td>
                    <% }else{%>
                      <td><%= referral.rewardValue %></td>
                    <% } %>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="removeReferral('<%=referral._id%>')">Remove</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</main>

<div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  async function removeReferral(referralId){
    try {
      const response = await fetch(`/admin/removeReferral/${referralId}`,{
        method:'DELETE',
        headers:{
          'Content-Type':'application/json',
        }
      });

      if(response.ok){
        const data = await response.json();
        console.log(data.message);

        document.getElementById(`referral-${referralId}`).remove();
      }else{
        const errorData = await response.json();
        console.error(errorData.message);
      }
    } catch (error) {
      console.error('Error deleting referral',error);
    }
  }
</script>
        
</body>
</html>