<%- include('../../views/partials/user/header') %>

    <nav class="breadcrumbs mt-3 mb-3 container">
        <a href="/userProfile" class="breadcrumbs-txt" style="text-decoration: none;">My Account</a>&gt;
        <a href="/myOrders" class="breadcrumbs-txt" style="text-decoration: none;">My Orders</a>
    </nav>
    <div class="mx-5 px-3 py-3" style="border-radius:10px;border:none;background:#f0ffff;">
    <% if (orders && orders.length > 0) { %>
        <div class="orders-list ">
            <% orders.forEach(order => { %>
                <div class="order-card mx-3 my-3" style="background:#04625f;color:white;border-radius: 10px;display:flex;flex-direction: row;align-items:center;justify-content:space-between">
                    
                    <ul class="col-md-10" style="display:flex;flex-direction:row;">
                        <% order.items.forEach(item => { %>
                            <% if (item.productId) { %>
                            <li class="px-3 py-3 mx-3 my-3 col-md-2" style="background:#04625f;color:white;border-radius: 10px;border:1px solid white;display: flex;flex-direction: column;">
                                <img src="/uploads/re-image/<%= item.productId.productImage[0]%>" alt="<%= item.productId.productName %>" style="width: 50px; height: 50px;border-radius: 5px;">
                                <span style="font-size:1.25rem"><%= item.productId.productName %></span>
                                <span style="font-size: 1.25rem;">(Qty: <%= item.quantity %>)</span>
                                
                            </li>
                            <% } else { %> <li> 
                                <span>Product not found</span> 
                            </li> <% } %>
                        <% }) %>
                    </ul>
                    <a class="col-md-2" href="/orderDetails/<%=order._id%>"><button class="btn-small" style="background:white;color: #04625f;border: none;border-radius: 5px;padding:0.5rem;margin-right:1rem;font-weight: 500;">More Details </button></a>
                    
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>No orders found. Start shopping now!</p>
    <% } %>
    </div>
<%- include('../../views/partials/user/footer') %>
