<%-include('../../views/partials/user/header')%>

<main class="container">
    <nav class="breadcrumbs mt-3 mb-3 container">
        <a href="/" class="breadcrumbs-txt" style="text-decoration: none;">Home /</a>
        <a href="/userProfile" class="breadcrumbs-txt" style="text-decoration: none;"> My Details /</a>
        <a href="/myOrders" class="breadcrumbs-txt" style="text-decoration: none;"> My Orders /</a>
        <a href="" class="breadcrumbs-txt" style="text-decoration: none;"><%=orders.orderId%></a>
    </nav>

        <div class="orders-list">

                <% if(orders.paymentStatus === "Pending" || orders.paymentStatus === 'Not paid'){ %>
                    <div class="payment" style="margin-left:1rem;">
                        <form action="/startPayPalPayment/<%=orders._id%>" method="POST">
                        <button id="payPalBtn" style="background-color: #e7ab3c;border-radius: 10px;" class="btn" onclick="startPayPal()" ><h5> Pay <%= orders.finalAmount %></h5></button>
                        </form>
                    </div>
                <% } %>
                <div style="margin-left:1rem;">
                    <form action="/order/invoice/<%=orders._id%>" method="GET" style="display: inline;">
                        <button type="submit" style="background-color: #e7ab3c; color: black;" class="btn">Download Invoice</button>
                    </form>
                </div>
                <div class="order-card px-3 py-3 mx-3 my-3" style="border:1px solid #e7ab3c;box-shadow: inset 0px 0px 9px 0px #e7ab3c;
    border-radius: 8px;">
                    <p>Order ID: <%= orders.orderId %></p>
                    <hr>
                    <ul>
                        <% orders.items.forEach(item => { %>
                            <li>
                                <img src="/uploads/re-image/<%= item.productId.productImage[0]%>" alt="<%= item.productId.productName %>" style="width: 50px; height: 50px;"><br>
                                <span><%= item.productId.productName %>    |    <%= item.quantity %> item</span><br>
                                <span>Rs <%= orders.finalAmount %></span>
                                <% if(item.reviews){ %>
                                    <p>
                                        <span class="star-rating">
                                            <% for (let i = 1; i <= 5; i++) { %>
                                                <span class="star <%= i <= item.reviews.rating ? 'selected' : '' %>">&#9733;</span>
                                            <% } %>
                                        </span>
                                    </p>
                                    <p>Review: <%= item.reviews.review %></p>
                                <% }else{ %>
                                    <p>No ratings</p>
                                <% } %>
                            </li>
                        <% }) %>
                    </ul>
                    
                    <hr>
                    <h5>Order Date: <%= orders.createdOn.toLocaleDateString() %></h5>
                    
                    
                    <h5>Status: <%= orders.status %></h5>
                    

                    <h3>Delivered on <%=orders.deliveryDate.toLocaleDateString()%></h3>
                    <div style="display: flex;flex-direction: column;gap:1rem">
                        <button id="cancelBtn" class="btn text-white" style="border-color:unset; border-radius: 8px;background-color:#e7ab3c">Cancel the order</button>
                        <% if (orders.returnStatus!== 'Pending') { %>
                            <h5>Return Status: <%= orders.returnStatus %></h5>
                            <% if (notifications && notifications.length > 0) { %>
                                <% notifications.forEach(notification => { %>
                                    <% if (notification.NotificationMessage) { %>
                                        <p><%= notification.NotificationMessage %></p>
                                    <% } %>
                                <% }) %> 
                            <% } else { %>
                                <p>No notifications available.</p>
                            <% } %>
                        <% } else { %>
                            <button id="returnBtn" class="btn text-white" style="border-color:unset; border-radius: 8px;background-color:#e7ab3c">Return the order</button>
                        <% } %>

                    </div>
                    <div id="cancelDiv" style="display: none;">
                    <form action="/cancelOrder/<%=orders._id%>" method="POST">
                        <label for="cancellationReason">Write a cancellation reason</label><br>
                        <textarea name="cancellationReason" id="cancellationReason" rows="3"></textarea>
                        <button type="submit" class="px-1 py-1 text-white" style="background:#e7ab3c">Submit</button>
                    </form>
                    </div>
                    <div id="returnDiv" style="display: none;">
                    <form action="/returnOrder/<%=orders._id%>" method="POST">
                        <label for="returnReason">Write a cancellation reason</label><br>
                        <textarea name="returnReason" id="returnReason" rows="3"></textarea>
                        <button type="submit" class="px-1 py-1 text-white" style="background:#e7ab3c">Submit</button>
                    </form>
                    </div>
                </div>
                <div id="rateDiv" class="order-card px-3 py-3 mx-3 my-3" style="border:1px solid #e7ab3c;box-shadow: inset 0px 0px 9px 0px #e7ab3c;
    border-radius: 8px;">
                    <p>Rate the order</p>
                    <hr>
                    <% orders.items.forEach(item => { %>
                        <form class="rate-form" action="/rateProduct/<%= orders._id %>/<%= item.productId._id %>" method="POST">
                            <label for="rating">Rate your product</label>
                            <div class="star-rating">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <input type="hidden" name="rating" id="rating" value="0">
                            
                            <label for="review">Write a Review</label><br>
                            <textarea name="review" id="review" rows="3" placeholder="Share your feedback"></textarea>
                            <button type="submit" class="px-1 py-1 text-white" style="background:#e7ab3c;border:none;border-radius:5px;margin-left:1rem">Submit</button>
                            <hr>
                        </form>
                    <% }) %>


                </div>
                <div class="order-card px-3 py-3 mx-3 my-3" style="border:1px solid #e7ab3c;box-shadow: inset 0px 0px 9px 0px #e7ab3c;
    border-radius: 8px;">
                    <p>Shipping Details</p>
                    <hr>
                    <% if (orders.addressDetails) { %>
                        
                          <address>
                            <div class=" text-white w-25 text-center" style="border-radius: 10px;background:#e7ab3c"><h5 class="py-2"><%= orders.addressDetails.addressType%></h5></div>
                            <%= orders.addressDetails.name %> <br>
                            <%= orders.addressDetails.city %>, <%= orders.addressDetails.state %> <br>
                            <%= orders.addressDetails.pincode %> <br>
                            Phone: <%= orders.addressDetails.phone %> <br>
                            Alt Phone: <%= orders.addressDetails.altPhone %>
                          </address>
                        
                      <% } else { %>
                        <p>No shipping address available.</p>
                      <% } %>

                    <h3>Delivered on <%=orders.deliveryDate.toLocaleDateString()%></h3>
                </div>
                <div class="order-card px-3 py-3 mx-3 my-3" style="border:1px solid #e7ab3c;box-shadow: inset 0px 0px 9px 0px #e7ab3c;
    border-radius: 8px;">
                    <p>Price Details</p>
                    <hr>
                    <ul style="list-style: none;">
                        <% orders.items.forEach(item => { %>
                            <li>List Price : <%= item.regularPrice * item.quantity%></li>
                            <li>Selling Price : Rs <%= item.salePrice * item.quantity%></li>
                            <li>Discount : - Rs <%= (item.regularPrice - item.salePrice)*item.quantity %></li>
                            <li>Delivery charge : Rs <%=orders.deliveryCharge%> </li>
                            <hr>
                            
                        <% }) %>
                        <li>Total Amount : <%= orders.finalAmount%></li>
                    </ul>
                    <hr>
                    <p>Payment Method: <%= orders.paymentMethod %></p>
                    <hr>
                    <p>Payment Status: <%= orders.paymentStatus %></p>

                </div>

        </div>
</main>    
        <script>
document.querySelectorAll(".star-rating .star").forEach(star => {
    star.addEventListener("click", function() {
        let rating = this.getAttribute("data-value");
        
        this.closest("form").querySelector("#rating").value = rating;
        
        let stars = this.closest(".star-rating").querySelectorAll(".star");
        stars.forEach(star => {
            if (parseInt(star.getAttribute("data-value")) <= rating) {
                star.classList.add("selected");
                star.style.color = 'yellow';
            } else {
                star.classList.remove("selected");
                star.style.color = 'black';
            }
        });
    });
});
const cancelBtn = document.getElementById('cancelBtn');
const cancelDiv = document.getElementById('cancelDiv');
const returnDiv = document.getElementById('returnDiv');
const returnBtn = document.getElementById('returnBtn');
if('<%=orders.status%>' === 'Pending' || '<%=orders.status%>' === 'Processing'){
    cancelBtn.style.display = 'block';
    returnBtn.style.display = 'none';
}
if('<%=orders.status%>' === 'Delivered'){
    returnBtn.style.display = 'Block';
    cancelBtn.style.display = 'none';
}
if('<%=orders.status%>' === 'Shipped'){
    cancelBtn.style.display = 'none';
    returnBtn.style.display = 'none'
}
if('<%=orders.status%>' === 'Cancelled'){
    cancelBtn.style.display = 'none';
    returnBtn.style.display = 'none'
}
if('<%=orders.status%>' === 'Returned'){
    cancelBtn.style.display = 'none';
    returnBtn.style.display = 'none'
}
cancelBtn.addEventListener('click',()=>{
    cancelBtn.style.display = 'none';
    cancelDiv.style.display = 'block';
    returnDiv.style.display = 'none';
});
returnBtn.addEventListener('click',() => {
    returnBtn.style.display = 'none';
    returnDiv.style.display = 'block';
    cancelDiv.style.display = 'none';
});
document.querySelectorAll("#cancelDiv form, #returnDiv form,#rateDiv .rate-form").forEach(form => {
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            let formData = {};
            const formElements = this.elements;
            for (let element of formElements) {
                if (element.name) {
                    formData[element.name] = element.value;
                }
            }
            console.log("Form data being sent:", formData);
            fetch(this.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                    Swal.fire({
                        icon: data.type,
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.reload();
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Something went wrong!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                });
        });
    });
</script>

<%- include('../../views/partials/user/footer') %>