<%- include('../../views/partials/user/header') %>
<div class="container-fluid pt-5">
  <div class="">
    <form method="POST" action="/buy" id="placeOrderForm" style="display: flex">
      <div class="col-md-6">
        <div class="btn" type="button" id="couponBtn">Apply Coupon</div>
        <div id="couponDiv" style="display: none">
          <div id="couponFormContainer">
            <input type="text" id="couponCodeInput" name="couponCode" />
            <div
              type="button"
              id="applyCouponBtn"
              class="btn btn-sm"
              style="border-radius: 5px; background-color: #e7ab3c"
            >
              Add Coupon
            </div>
            <p id="couponMessage" style="color: red"></p>
          </div>
        </div>
        <div id="appliedCouponDiv" style="display: none; margin-top: 10px">
          <p id="appliedCouponText"></p>
          <button type="button" id="removeCouponBtn" class="btn btn-danger">
            Remove Coupon
          </button>
        </div>
        <div class="mb-4">
          <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
          <% if(userAddress.address.length > 0){ %>
          <div class="row" style="margin-left: 0rem">
            <% userAddress.address.forEach((address,index) => { %>
            <div
              class="form-check my-3"
              style="border: 1px solid #076a66; width: 95%; border-radius: 5px"
            >
              <div
                class="mx-3 px-3 py-3"
                id="radioContainer"
                style="display: flex; flex-direction: column"
              >
                <input class="form-check-input" type="radio"
                name="selectedAddress" value="<%= address._id %>"
                id="flexRadioDefault2" <%= index === 0 ? 'checked' : '' %> >
                <label class="form-check-label" for="flexRadioDefault2">
                  <div
                    class="card-header text-center"
                    style="
                      font-family: monospace;
                      font-size: larger;
                      background-color: #e7ab3c;
                    "
                  >
                    <h5 class=""><%=address.addressType%></h5>
                  </div>
                  <div class="card-body">
                    <address>
                      <%=address.name%><br />
                      <%=address.city%><br />
                      <%=address.landMark%><br />
                      <%=address.state%>
                    </address>
                    <p><%=address.pincode%></p>
                    <p><%=address.phone%></p>
                    <p><%=address.altPhone%></p>
                  </div>
                  <a
                    href="/orderEditAddress?id=<%=address._id%>"
                    style="color: #e7ab3c"
                    >Edit Address</a
                  >
                </label>
              </div>
            </div>
            <% }) %>
          </div>
          <a href="/orderAddAddress" style="color: #e7ab3c">Add New Address</a>
          <% }else{ %>
          <a href="/orderAddAddress" style="color: #e7ab3c">Add New Address</a>
          <div id="address-error" class="error-message"></div>
          <% } %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="showCouponsDiv" class="btn" onclick="openCoupons()">
          Show all Coupons
        </div>
        <div class="availableCoupons">
          <h2 class="availableCoupons-title" style="color: #e7ab3c">
            Available Coupons
          </h2>
          <div class="availableCoupons-content">
            <div
              class="availableCoupons-box px-3 py-3"
              style="display: flex; flex-direction: column"
            >
              <% if (coupons && coupons.length > 0) { %> <%
              coupons.forEach(coupon => { %> <% if(coupon.isActive && new Date()
              < coupon.expireOn){ %>
              <div
                class="px-2 py-2"
                style="
                  border-radius: 5px;
                  background-color: #e7ab3ceb;
                  width: 100%;
                "
              >
                <div class="coupon-box">
                  <div class="availableCoupon-title"><%=coupon.name%></div>
                  <div class="availableCoupon-discount">
                    <% if(coupon.discountType === 'Percentage'){ %>
                    <%=coupon.discount%>% coupon discount (minimum price :
                    <%=coupon.minimumPrice%>) <% }else{ %>
                    Rs<%=coupon.discount%> coupon discount (minimum price :
                    <%=coupon.minimumPrice%>) <% } %>
                  </div>
                </div>
                <div class="copyCode">
                  <div
                    class="availableCoupon-expired"
                    style="
                      display: flex;
                      flex-direction: column;
                      font-size: 2rem;
                      color: white;
                    "
                  >
                    <div>
                      <h4
                        class="availableCoupon-expired-date"
                        style="font-size: 1rem"
                      >
                        valid till
                        <%=coupon.expireOn.toLocaleDateString('en-US', { year:
                        'numeric', month: 'long', day: 'numeric' })%>
                      </h4>
                    </div>
                    <div style="display: flex; flex-direction: row">
                      <div
                        class="couponCode px-3 py-1"
                        style="
                          display: flex;
                          align-items: center;
                          background-color: white;
                          color: black;
                          font-size: 1rem;
                          border-top-left-radius: 5px;
                          border-bottom-left-radius: 5px;
                        "
                      >
                        <%=coupon.code%>
                      </div>
                      <div
                        class="btn copy-btn px-3 py-1"
                        style="
                          display: flex;
                          align-items: center;
                          border-top-right-radius: 5px;
                          border-bottom-right-radius: 5px;
                          background-color: #00000070;
                        "
                        data-code="<%=coupon.code%>"
                      >
                        COPY
                      </div>
                    </div>
                    <p
                      id="copyMessage"
                      style="color: #069606; text-shadow: -1px 1px 1px black"
                    ></p>
                  </div>
                </div>
              </div>
              <% } %> <% }) %> <% }else{ %>
              <h4 colspan="4">Currently no coupons available</h4>
              <% } %>
            </div>
          </div>
          <i
            class="ti-close"
            id="close-coupon"
            style="
              color: white;
              margin-top: -1rem;
              margin-right: -0.85rem;
              font-size: 1rem;
              background: red;
              padding: 0.35rem;
            "
            onclick="closeCoupons()"
          ></i>
        </div>
        <div
          class="card border-secondary mb-5"
          id="orderDiv"
          style="margin-top: 5.2rem"
        >
          <div class="card-header border-0" style="background-color: #e7ab3c">
            <h4 class="font-weight-semi-bold m-0">Order Total</h4>
          </div>
          <div class="card-body">
            <h5 class="font-weight-medium mb-3">Products</h5>
            <% cart.items.forEach(item => { %>
            <div class="d-flex justify-content-between">
              <p><%=item.productId.productName%> x <%=item.quantity%></p>
              <p><%=item.productId.regularPrice%></p>
            </div>
            <% }) %>

            <hr class="mt-0" />
            <% if(cart && cart.items.length > 0){ %>
            <div class="d-flex justify-content-between mb-3 pt-1">
              <h6 class="font-weight-medium">Price</h6>
              <h6 class="font-weight-medium total-price">
                <%=cart ? cart.items.reduce((acc,item) => acc +
                item.productId.regularPrice*item.quantity,0):0%>
              </h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6 class="font-weight-medium">Discount</h6>
              <h6 class="font-weight-medium discount-price"><%= discount %></h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6 class="font-weight-medium">Shipping</h6>
              <h6 class="font-weight-medium delivery-price">
                <%= deliveryCharge %>
              </h6>
            </div>
            <% } %>
          </div>
          <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
              <h5 class="font-weight-bold">Total</h5>
              <h5 class="font-weight-bold final-price"><%= finalAmount %></h5>
            </div>
          </div>
        </div>
        <div class="card border-secondary mb-5" id="payDiv">
          <div class="card-header border-0" style="background-color: #e7ab3c">
            <h4 class="font-weight-semi-bold m-0">Payment</h4>
          </div>
          <div class="card-body">
            <div class="form-check" id="payRadio1">
              <input
                class="form-check-input1"
                type="radio"
                name="selectedPayment"
                value="PayPal"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Pay with PayPal
              </label>
              <a href="" style="text-decoration: none"
                ><button
                  id="payPalBtn"
                  style="
                    display: none;
                    background-color: #e7ab3c;
                    border-radius: 10px;
                  "
                  class="btn"
                  onclick="startPayPal()"
                >
                  <h5>Pay Now</h5>
                </button></a
              >
            </div>

            <div class="form-check" id="payRadio2">
              <input
                class="form-check-input2"
                type="radio"
                name="selectedPayment"
                value="COD"
                id="flexRadioDefault2"
              />
              <label class="form-check-label" for="flexRadioDefault2">
                CASH ON DELIVERY
              </label>
              <button
                type="submit"
                id="codBtn"
                class="btn"
                style="
                  display: none;
                  background-color: #e7ab3c;
                  border-radius: 10px;
                "
              >
                <h5>Continue</h5>
              </button>
            </div>

            <div class="form-check" id="payRadio2">
              <input
                class="form-check-input3"
                type="radio"
                name="selectedPayment"
                value="Wallet"
                id="flexRadioDefault3"
              />
              <label class="form-check-label" for="flexRadioDefault3">
                WALLET
              </label>
              <p
                style="display: none"
                id="walletBalanceAmount"
                class="wallet-balance"
              >
                Balance Amount : <%=user.wallet.balance%>
              </p>
              <button
                type="submit"
                id="walletBtn"
                class="btn"
                style="
                  display: none;
                  background-color: #e7ab3c;
                  border-radius: 10px;
                "
              >
                <h5>Pay Now</h5>
              </button>
            </div>

            <div class="error-message" id="payment-error"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  let availableCoupons = document.querySelector(".availableCoupons");
  function openCoupons() {
    availableCoupons.style.display = "block";
    availableCoupons.classList.add("active");
  }
  function closeCoupons() {
    availableCoupons.style.display = "none";
    availableCoupons.classList.remove("active");
  }
  document.getElementById("placeOrderForm").addEventListener("submit", (e) => {
    const selectedAddress = document.querySelector(
      'input[name="selectedAddress"]:checked'
    );
    const selectedPayment = document.querySelector(
      'input[name="selectedPayment"]:checked'
    );
    if (!selectedAddress || !selectedPayment) {
      e.preventDefault(); // Prevent form submission
    }
  });
  document.addEventListener("DOMContentLoaded", () => {
    const couponBtn = document.getElementById("couponBtn");
    const couponDiv = document.getElementById("couponDiv");
    const couponCodeInput = document.getElementById("couponCodeInput");
    const applyCouponBtn = document.getElementById("applyCouponBtn");
    const couponMessage = document.getElementById("couponMessage");
    const appliedCouponDiv = document.getElementById("appliedCouponDiv");
    const appliedCouponText = document.getElementById("appliedCouponText");
    const removeCouponBtn = document.getElementById("removeCouponBtn");
    const copyButtons = document.querySelectorAll(".copy-btn");
    const copyMessage = document.getElementById("copyMessage");

    const totalPriceElement = document.querySelector(".total-price");
    const discountPriceElement = document.querySelector(".discount-price");
    const finalPriceElement = document.querySelector(".final-price");
    const deliveryCharge = document.querySelector(".delivery-price");

    console.log("discountPriceElement : ", discountPriceElement.textContent);
    console.log(
      "parsed discountPriceElement : ",
      parseFloat(discountPriceElement.textContent.replace(/[^\d.-]/g, "")) || 0
    );
    console.log(
      "parsed discountPriceElement without using textContent : ",
      parseFloat(discountPriceElement)
    );

    copyButtons.forEach((button) => {
      button.addEventListener("click", (event) => {
        const couponCode = event.target.getAttribute("data-code");
        if (couponCode) {
          navigator.clipboard
            .writeText(couponCode)
            .then(() => {
              copyMessage.textContent = `Coupon code copied`;
            })
            .catch((err) => {
              console.error("Failed to copy: ", err);
              copyMessage.textContent =
                "Failed to copy coupon code. Please try again.";
              copyMessage.style.color = "red";
            });
        }
      });
    });

    couponBtn.addEventListener("click", () => {
      couponDiv.style.display = "block";
      couponBtn.style.display = "none";
    });
    applyCouponBtn.addEventListener("click", async () => {
      const couponCode = couponCodeInput.value.trim();
      if (!couponCode) {
        couponMessage.textContent = "Please enter a coupon code";
        couponMessage.style.color = "red";
        return;
      }
      try {
        const response = await fetch("/applyCoupon", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ couponCode }),
        });
        const data = await response.json();
        if (!response.ok) {
          couponMessage.textContent = data.message;
          couponMessage.style.color = "red";
          return;
        }
        couponMessage.textContent = data.message;
        couponMessage.style.color = "green";
        const { name, discountType, discount, discountAmount, finalAmount } =
          data.couponDetails;

        const currentTotal = parseFloat(totalPriceElement.textContent);
        const currentDiscount =
          parseFloat(
            discountPriceElement.textContent.replace(/[^\d.-]/g, "")
          ) || 0;
        console.log("currentTotal : ", currentTotal);
        console.log("Current discount : ", currentDiscount);
        console.log("Discount amount : ", discountAmount);
        console.log("discount : ", discount);
        discountPriceElement.textContent = `${
          currentDiscount + parseFloat(discountAmount)
        }`;
        console.log(
          "discountPriceElement : ",
          discountPriceElement.textContent
        );
        finalPriceElement.textContent = `${finalAmount}`;
        console.log("finalPriceElement : ", finalPriceElement.textContent);
        // Display applied coupon
        appliedCouponText.textContent = `Coupon applied: ${name} [ ${discount} discount off]`;
        appliedCouponDiv.style.display = "block";
        // Hide the coupon form
        couponDiv.style.display = "block";
        couponBtn.style.display = "block";
      } catch (err) {
        console.error("Error applying coupon:", err);
        couponMessage.textContent =
          "Error applying coupon. Please try again later.";
        couponMessage.style.color = "red";
      }
    });
    removeCouponBtn.addEventListener("click", async () => {
      try {
        const response = await fetch("/removeCoupon", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });
        const data = await response.json();
        if (!response.ok) {
          throw new Error(data.message);
        }

        totalPriceElement.textContent = `${data.updatedPrices.total}`;
        discountPriceElement.textContent = `${data.updatedPrices.discount}`;
        finalPriceElement.textContent = `${data.updatedPrices.final}`;

        appliedCouponDiv.style.display = "none";
        couponBtn.style.display = "block";
        couponCodeInput.value = "";
        couponMessage.textContent = "";
      } catch (err) {
        console.error("Error removing coupon:", err);
        couponMessage.textContent = "Error removing coupon. Please try again.";
        couponMessage.style.color = "red";
      }
    });
    const radioContainers = document.querySelectorAll("#radioContainer");
    const deliverBtns = document.querySelectorAll("#deliverBtn");
    const orderDiv = document.getElementById("orderDiv");
    const orderBtn = document.getElementById("orderBtn");

    const payDiv = document.getElementById("payDiv");

    const radioInput1 = document.querySelector(".form-check-input1");
    const radioInput2 = document.querySelector(".form-check-input2");
    const radioInput3 = document.querySelector(".form-check-input3");
    const upiBtn = document.getElementById("upiBtn");
    const codBtn = document.getElementById("codBtn");
    const walletBtn = document.getElementById("walletBtn");
    const payPalBtn = document.getElementById("payPalBtn");
    const walletBalanceAmount = document.getElementById("walletBalanceAmount");
    const paymentError = document.getElementById("payment-error");
    const changePaymentButtons = () => {
      if (radioInput1.checked) {
        payPalBtn.style.display = "block";
        codBtn.style.display = "none";
        walletBtn.style.display = "none";
        paymentError.style.display = "none";
      } else if (radioInput2.checked) {
        payPalBtn.style.display = "none";
        codBtn.style.display = "block";
        walletBtn.style.display = "none";
        paymentError.style.display = "none";
      } else if (radioInput3.checked) {
        payPalBtn.style.display = "none";
        codBtn.style.display = "none";
        walletBtn.style.display = "block";
        walletBalanceAmount.style.display = "block";
        paymentError.style.display = "none";
      }
    };
    radioInput1.addEventListener("change", changePaymentButtons);
    radioInput2.addEventListener("change", changePaymentButtons);
    radioInput3.addEventListener("change", changePaymentButtons);

    const form = document.getElementById("placeOrderForm");

    form.addEventListener("submit", (e) => {
      const selectedAddress = document.querySelector(
        'input[name="selectedAddress"]:checked'
      );
      const selectedPayment = document.querySelector(
        'input[name="selectedPayment"]:checked'
      );
      const addressError = document.getElementById("address-error");
      const paymentError = document.getElementById("payment-error");

      if (!selectedAddress || !selectedPayment) {
        if (!selectedAddress) {
          addressError.style.display = "block";
          addressError.style.color = "red";
          addressError.innerText = "Please add a valid shipping address";
        } else if (!selectedPayment) {
          paymentError.style.display = "block";
          paymentError.style.color = "red";
          paymentError.innerText = "Please select a vaid payment method";
        }
        e.preventDefault();
      } else {
        const finalAmount = parseFloat(
          document
            .querySelector(".final-price")
            .innerText.replace(/[^\d.-]/g, "")
        );
        const walletBalance = parseFloat(
          document
            .querySelector(".wallet-balance")
            .innerText.replace(/[^\d.-]/g, "")
        );
        if (selectedPayment.value === "COD" && finalAmount > 1000) {
          paymentError.style.display = "block";
          paymentError.style.color = "red";
          paymentError.innerText =
            "COD is not allowed for orders above Rs 1000";
          e.preventDefault();
        }
        if (selectedPayment.value === "Wallet" && finalAmount > walletBalance) {
          paymentError.style.display = "block";
          paymentError.style.color = "red";
          paymentError.innerText =
            "Wallt Balance is less than the total amount. Please try again with any other payment method";
          e.preventDefault();
        }
      }
    });
  });
</script>

<%- include('../../views/partials/user/footer') %>
