<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puzl Mart | Explore the world of puzzles</title>
    <title>Puzl Mart Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/product.css">
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <script>
   function imageZoom(imgID, resultID) {
  let img = document.getElementById(imgID);
  let result = document.getElementById(resultID);
  let lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");
  img.parentElement.insertBefore(lens, img);

  let cx = result.offsetWidth / lens.offsetWidth;
  let cy = result.offsetHeight / lens.offsetHeight;

  result.style.backgroundImage = `url('${img.src}')`;
  result.style.backgroundSize = `${img.width * cx}px ${img.height * cy}px`;

  lens.addEventListener("mousemove", moveLens);
  img.addEventListener("mousemove", moveLens);
  lens.addEventListener("touchmove", moveLens);
  img.addEventListener("touchmove", moveLens);

  function moveLens(e) {
    e.preventDefault();
    let pos = getCursorPos(e);
    let x = pos.x - lens.offsetWidth / 2;
    let y = pos.y - lens.offsetHeight / 2;

    if (x > img.width - lens.offsetWidth) x = img.width - lens.offsetWidth;
    if (x < 0) x = 0;
    if (y > img.height - lens.offsetHeight) y = img.height - lens.offsetHeight;
    if (y < 0) y = 0;

    lens.style.left = `${x}px`;
    lens.style.top = `${y}px`;
    result.style.backgroundPosition = `-${x * cx}px -${y * cy}px`;
  }

  function getCursorPos(e) {
    e = e || window.event;
    let a = img.getBoundingClientRect();
    let x = e.pageX - a.left;
    let y = e.pageY - a.top;
    x -= window.pageXOffset;
    y -= window.pageYOffset;
    return { x: x, y: y };
  }
}

   </script>
</head>
<body> 
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <div class="logo" style="display: flex;flex-direction: row;">
          <div class="logo-text">
              <img src="/images/PuzlMart.svg" alt="">
          </div>
          <div class="rubik-cube">
            <div class="face front">
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
            </div>
            <div class="face back">
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
            </div>
            <div class="face right">
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
            </div>
            <div class="face left">
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
            </div>
            <div class="face top">
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
            </div>
            <div class="face bottom">
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
            </div>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 1rem;">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
          </ul>
          
            <form action="/search" method="POST" class="form-inline search">
              <input class="form-control searchForm mr-sm-2" name="query" type="search" placeholder="Search">
              <button class="btn btn-outline-success search-btn" type="submit">
                <img src="/images/Search.svg" alt="">
              </button>
            </form>
          
          <ul class="navbar-nav ml-auto">
            <% if (user ) { %>
                            
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">My account</a>
                  <div class="dropdown-menu" style="background:#04625fc9; border:1px solid #f0ffff;border-radius: 10px;">
                    <a class="dropdown-item mx-3 my-3" style="background:#118d89;color:white;border:0.5px solid #f0ffff;box-shadow:-5px -2px 2px 0px #f0ffff;font-family: monospace;border-radius: 10px;" href="/userProfile"><%=user.name%></a>
                    <a class="dropdown-item mx-3 my-3" style="background:#118d89;color:white;border:0.5px solid #f0ffff;box-shadow:-5px -2px 2px 0px #f0ffff;font-family: monospace;border-radius: 10px;" href="/logout">Logout</a>
                  </div>
              </li>
            <% } else { %>
                            Guest options
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <% } %>
                <i class='bx bx-heart' id="wishlist-icon" data-quantity="0" onclick="openWishlist()"></i>
                  <div class="wishlist" style="display: none;">
                    <h2 class="wishlist-title">Your Wishlist</h2>
                    <div class="wishlist-content">
                      <div class="wishlist-box">

                          <% if(wishlist && wishlist.products && wishlist.products.length>0){ %>
                            <% wishlist.products.forEach((product) => { %>
                              <a href="/productDetails/<%=product.productsId._id%>" style="text-decoration: none;">
                                <img src="/uploads/re-image/<%=product.productsId.productImage[0]%>" style="width: 99%;" alt="Item" class="img-fluid wishlist-img">
                              </a>
                              <div class="detail-box">
                                <div class="wishlist-product-title"><%=product.productsId.productName%></div>
                                <div class="wishlist-price" style="text-decoration: line-through;"><%=product.productsId.regularPrice%></div>
                                <div class="wishlist-price"><%=product.productsId.salePrice%></div>
                              </div>
                                <a href="/removeFromWishlist/<%=product.productsId._id%>"><button class="btn btn-danger btn-sm"><i class="bx bx-trash-alt wishlist-remove"></i></button></a>
                            <% }) %>
                          <% }else{ %>
                              <h4 colspan="4">Your wishlist is empty</h4>
                          <% } %>
                      </div>
                    </div>
                      <i class="bx bx-x" id="close-wishlist" onclick="closeWishlist()"></i>
                  </div>
                <i class='bx bx-shopping-bag' id="cart-icon" data-quantity="0" onclick="openCart()"></i>
                  <div class="cart" style="display: none;">
                    <h2 class="cart-title">Your cart</h2>
                    <div class="cart-content">
                      <div class="cart-box">
                        <% if(cart && cart.items && cart.items.length > 0){ %>
                          <% cart.items.forEach(item => { %>
                            <% if(item.productId) { %>
                              <a href="/productDetails/<%=item.productId._id%>" style="text-decoration: none;">
                                <img src="/uploads/re-image/<%=item.productId.productImage[0]%>" style="width: 99%;" alt="Item" class="img-fluid cart-img">
                              </a>
                              <div class="detail-box">
                                <div class="cart-product-title"><%=item.productId.productName%></div>
                                <div class="cart-price" style="text-decoration: line-through;"><%=item.productId.regularPrice%></div>
                                <div class="cart-price"><%=item.productId.salePrice%></div>
                                <div style="display: flex;flex-direction: row;">
                                  <a href="#" data-id="<%=item.productId._id%>" class="btn btn-info decrease-btn" style="text-decoration: none;">-</a>
                                    <input class="w-25 mx-3 text-center" type="text" value="<%=item.quantity%>">
                                  <a href="#" data-id="<%=item.productId._id%>" class="btn btn-info increase-btn" style="text-decoration: none;">+</a>
                                </div>
                              </div>
                                <a href="/removeFromCart/<%=item.productId._id%>"><button class="btn btn-danger btn-sm"><i class="bx bx-trash-alt cart-remove"></i></button></a>
                                  
                            <% } else { %> 
                              <p>Product not found</p>  
                            <% } %>
                          <% }) %>
                        <% }else{ %>
                                
                          <h4 colspan="4">Your cart is empty</h4>
                                
                        <% } %>
                      </div>
                    </div>
                    <div class="total">
                      <div class="total-title">Total</div>
                      <div class="total-price">Rs.<%= cart ? cart.items.reduce((acc, item) => acc + item.productId.salePrice * item.quantity, 0) : 0 %></div>
                    </div>
                      <a href="/buyNow"><button type="button" class="btn-buy">Pay now</button></a>
                            
                      <i class="bx bx-x" id="close-cart" onclick="closeCart()"></i>
                  </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>

    <nav class="breadcrumbs">
        <a href="/" class="breadcrumbs-txt" style="text-decoration: none;">Home / </a>
        <a href="/products" class="breadcrumbs-txt" style="text-decoration: none;">Products / </a>
        <span class="breadcrumbs-txt"><%= product.productName %></span>
    </nav>

    <div class="product-details-page">
        <section class="row product-details">
            <div class="col-md-6" style="display: flex;flex-direction: row;">
                <div class="column productGalleryRow" style="display: flex; flex-direction: column;">
                    <% for (let i=0; i<product.productImage.length ; i++){ %>
                        <div class="row productGalleryColumn" >
                            <img class="img-fluid" src="/uploads/re-image/<%= product.productImage[i] %>" alt="<%= product.productName %>" onclick="myFunction(this)">
                        </div>
                    <% } %>
                </div>
                <div id="carouselExampleControls" class="carousel slide">
                    <div class="carousel-inner">
                        <% for(let i=0 ; i<product.productImage.length ; i++){ %>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %>" data-bs-interval="false">
                                <div class="img-zoom-container">
                                    <img src="/uploads/re-image/<%= product.productImage[i] %>" class="d-block w-100 img-fluid" alt="<%= product.productName %>" id="expandedImg" data-index="<%= i %>" onmouseover="zoomLensVisible(this)" onmouseout="zoomLensHidden(this)">
                                    
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div style="display:flex;justify-content:center;align-items:center;gap:2rem;margin-left: 2rem;margin-top: 1rem;">
                        <a href="/addToCart/<%= product._id %>" data-id="<%=product._id%>" class="btn cart-btn" style="background-color: #04625f;color:#f0ffff">Add To Cart</a>
                        <a href="/addToWishlist/<%= product._id %>" data-id="<%=product._id%>" class=" btn wishlist-btn" style="background-color: #04625f;color:#f0ffff">Add to Wishlist</a>
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-6" style="margin-top: -3rem;">
                <div class="product-details">
                <h2 class="productName"><%=product.productName%></h2>
                <h5 class="productBrand"><%=product.brand%></h5>
                <div class="ratings">
                    <div class="stars">
                        <% for(let i=0 ; i<5 ; i++ ){ %>
                            <span class="star <%= i <= product.averageRating ? 'selected': '' %>">&#9733;</span>
                        <% } %>
                    </div>
                    
                </div>
                <div class="price">
                        <p><%=product.salePrice%>  <span style="text-decoration: line-through;">Rs. <%=product.regularPrice%></span>  <span style="color:green"><%=discount%>% off</span></p>
                </div>
                <div class="offers">
                    <p>Available Offers</p>
                    <div class="card" style="width: 18rem;">
                        <% if(product.productOffer){%>
                        <div class="card-body">
                          <h5 class="card-title"><%=product.productOffer.value %> Off</h5>
                          <p class="card-text"></p> 
                        </div>
                        <% }else{%>
                            <p>No offers</p>
                        <% } %>
                    </div>
                </div>
                <div class="stock">
                    <% if(product.quantity > 0 && product.status === 'Available'){ %>
                        <p style="color:green;font-weight: lighter;font-size: 2rem;"><%=product.quantity%> items available</p>
                    <% }else if(product.quantity<=0 || product.status === 'Out of stock'){ %>
                        <p style="color:red;font-weight: lighter;font-size: 2.5rem;">Out of stock</p>
                    <% }else if(product.status === 'Discontinued'){ %>
                        <p>Product has been discontinued</p>
                    <% }else{ %>
                        <p>Stock information unavailable</p>
                    <% } %>
                </div>
                <div class="description">
                    <h2>About this item</h2>
                    <p><%=product.description%></p>
                </div>
            
                <div class="highlights">
                    <h2>Product Highlights</h2>
                    <ul style="font-family: monospace;">
                       <li>Materials:plastic</li>
                       <li>Age 3+ Years</li>
                       <li>Skillset : Analysis & Critical Thinking, Hand & Eye Co-ordination,Object Recognition,Time Management,Creativity & Imagination</li>
                    </ul>
                </div>
                <div class="reviews" style="border: 1px solid #42ada8; padding-left: 1rem; padding-top: 1rem;">
                        <div style="display: flex; flex-direction: row; justify-content: space-around;">
                            <h2>Ratings and Reviews</h2>
                           
                        </div>
                        <% if(product.reviews.length>0){ %>
                        <div class="ratings" style="margin-top: 2rem;">
                            <% product.reviews.forEach(review => { %>
                                    <div class="card-body text-center" style="border:1px solid #42ada8;">
                                        <h5 class="card-title" class="stars">
                                            <% for(let i = 1 ; i<=5 ; i++){ %>
                                                <span class="star <%= i <= review.rating ? 'selected' : '' %>">&#9733;</span>
                                            <% } %>
                                        </h5>
                             
                                        <p class="card-text" style="font-weight: 100;"><%= review.review %></p>
                                        <p class="card-footer" style="font-style: italic;">- <%= review.userId.name%></p>
                                        <!--<p><small><%= new Date(review.createdOn).toLocaleString() %></small></p>-->
                                    </div>
                            <% }) %>
                                    
                        </div>
                        <% }else{ %>
                            <p>No ratings and reviews yet</p>
                        <% } %>
                    
                </div>
                </div>
                <div id="myresult" class="img-zoom-result"></div>
            </div>
            
        </section>
        <section>
            <div class="related-products">
                <h2 style="color:#04625f;margin-left: 2rem;">Related Products</h2>
                <div class="shop-content" style="margin-left:2rem;display:flex;flex-direction: row;">
                <% if (product.relatedProducts && product.relatedProducts.length > 0) { %>
                    <% product.relatedProducts.forEach(relatedProduct =>{ %>
                <div class="product-box">
                
                    <a href="/productDetails/<%=relatedProduct._id%>">
                        <img src="/uploads/re-image/<%=relatedProduct.productImage[0]%>" class="proudct-img" alt="<%=relatedProduct.productName%>">
                    </a>
                    <h2 class="product-title"><%=relatedProduct.productName%></h5>
                    <p class="card-text"><%=relatedProduct.brand%></p>
                    <div class="ratings">
                            <div class="stars" style="display: flex;justify-content: start;">
                              <% for(let star=0 ; star<5 ; star++ ){ %>
                                <span class="star <%= star <= relatedProduct.averageRating ? 'selected': '' %>">&#9733;</span>
                              <% } %>
                            </div>
                          </div>
                        <span class="price"><%=relatedProduct.salePrice%></span>
                        <a href="/addToCart?id=<%=relatedProduct._id%>" data-id="<%=relatedProduct._id%>" class="btn cart-btn">
                            <i class="bx bx-shopping-bag add-cart"></i>
                        </a>
                        <a href="/addToWishlist/<%= relatedProduct._id %>" data-id="<%=relatedProduct._id%>" class="btn wishlist-btn">
                            <i class='bx bxs-heart add-wishlist' ></i>
                        </a>
                </div>
                <% }) %>
                </div>
                <% } else { %>
                    <p>No related products available.</p>
                <% } %>
            </div>
        </section>
    </div>
<script>

function myFunction(imgs) {
    
    var expandImg = document.getElementById('expandedImg')
    expandImg.src = imgs.src;  // Set the source of the expanded image to the clicked thumbnail
    expandImg.parentElement.style.display = 'block';  // Show the expanded image
    
    imageZoom("expandedImg", "myresult");
}

function zoomLensVisible(imgs){
    var result = document.getElementById('myresult');
    var lens = document.createElement('DIV');
    const productDetails = document.getElementsByClassName('product-details');
    lens.setAttribute('class','img-zoom-lens');
    imgs.parentElement.insertBefore(lens,imgs);

    result.style.display = 'block';
    
    imageZoom('expandedImg','myresult');
 
    lens.style.visibility = 'visible';
}

function zoomLensHidden(imgs){
    var result = document.getElementById('myresult');
    var lens = document.querySelector('.img-zoom-lens');

    result.style.display = 'none';

    lens.style.visibility = 'visible'
}
document.querySelectorAll('.cart-btn').forEach(button => {
  button.addEventListener('click',(e) => {
    e.preventDefault();
    
    const productId = button.getAttribute('data-id');
    
    fetch(`/addToCart/${productId}`, {
   method: 'GET',
   headers: { 'Content-Type': 'application/json' }
})
.then(response => {
    if (!response.ok) {
        return response.json().then(errData => {
            throw new Error(errData.error || 'Something went wrong');
        });
    }
    return response.json();
})
.then(data => {
    if (data.success) {
        Swal.fire({
            title: 'Added to cart',
            text: data.message,
            icon: 'success',
            confirmButtonText: 'OK'
        }).then(() => location.reload());
    } else {
        Swal.fire({
            title: 'Error',
            text: data.error || 'An unknown error occurred',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    }
})
.catch(error => {
    console.log(error);
    Swal.fire({
        title: 'Error',
        text: error.message,
        icon: 'error',
        confirmButtonText: 'OK'
    });
});

  })
})

document.querySelectorAll('.wishlist-btn').forEach(button => {
  button.addEventListener('click',(e) => {
    e.preventDefault();
    
    const productId = button.getAttribute('data-id');
    
    fetch(`/addToWishlist/${productId}`, {
   method: 'GET',
   headers: { 'Content-Type': 'application/json' }
})
.then(response => {
    if (!response.ok) {
        return response.json().then(errData => {
            throw new Error(errData.error || 'Something went wrong');
        });
    }
    return response.json();
})
.then(data => {
    if (data.success) {
        Swal.fire({
            title: 'Added to wishlist',
            text: data.message,
            icon: 'success',
            confirmButtonText: 'OK'
        }).then(() => location.reload());
    } else {
        Swal.fire({
            title: 'Error',
            text: data.error || 'An unknown error occurred',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    }
})
.catch(error => {
    console.log(error);
    Swal.fire({
        title: 'Error',
        text: error.message,
        icon: 'error',
        confirmButtonText: 'OK'
    });
});

  })
})

</script>

<%- include('../../views/partials/user/footer') %>
