<%-include('../../views/partials/user/header')%>
<nav class="breadcrumbs mt-3 mb-3 ml-5">
    <a href="/" class="breadcrumbs-txt" >Home</a>&gt;
    <a href="/products" class="breadcrumbs-txt">Products</a>&gt;
    <a href="" class="breadcrumbs-txt" active><%=product.productName%></a>
</nav>
  <div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel " class="carousel slide" data-ride="">
                <div class="carousel-inner border">
                    <% for(let i=0 ; i<product.productImage.length ; i++){ %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>" data-bs-interval="false">
                        <div class="img-zoom-container">
                            <img src="/uploads/re-image/<%= product.productImage[i] %>" class="d-block w-100 img-fluid" alt="<%= product.productName %>" id="expandedImg" data-index="<%= i %>" onmouseover="zoomLensVisible(this)" onmouseout="zoomLensHidden(this)">
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="column productGalleryRow" style="display: flex; flex-direction: row;gap:3rem; margin:1rem">
                  <% for (let i=0; i<product.productImage.length ; i++){ %>
                      <div class="row productGalleryColumn" style="width: 25%;">
                          <img class="img-fluid" style="border:1px ridge #0000002e; border-radius: 10px;" src="/uploads/re-image/<%= product.productImage[i] %>" alt="<%= product.productName %>" onclick="myFunction(this)">
                      </div>
                  <% } %>
              </div>
            </div>

        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="" style="font-weight: 400;font-size: 25px;"><%=product.productName%></h3>
            <div class="d-flex mb-3 stars" style="margin-top: 1rem;">
                <div class="text-primary mr-2" style="display:flex;gap:1rem">
                    <div class="text-white" style="border-radius: 5px;background-color: green;padding: 2px 4px 2px 6px;font-weight: 500;font-size: 12px;"><%=product.averageRating%> &#9733;</div>
                    <div style="color:#878787;font-weight: 500;font-size: 14px;"><%=totalRatings%> Ratings & <%=totalReviews%> Reviews</div>
                </div>

            </div>
            <div style="display: flex;align-items: baseline;gap: 1rem;" class="my-1">
                <div>
                    <h3 class="mb-4" style="font-weight: 500;font-size: 28px;color:black">Rs <%=product.salePrice%></h3>
                </div>
                <% if (product.productOffer) { %>
                    <% if (product.productOffer.discountType === 'Percentage') { %>
                        <div>
                        <span style="text-decoration: line-through; color:#878787">Rs <%=product.regularPrice%></span>
                        <span style="text-decoration: none; color: green;">
                            <%= product.productOffer.value %> % Off
                        </span>
                        </div>
                    <% } else { %>
                        <div>
                        <span style="text-decoration: line-through; color:#878787">Rs <%=product.regularPrice%></span>
                        <span style="text-decoration: none; color: green;">
                            Rs <%= product.productOffer.value %> Off
                        </span>
                        </div>
                    <% } %>
                <% } else if (product.category.categoryOffer) { %> 
                    <% if (product.category.categoryOffer.discountType === 'Percentage') { %>
                        <div>
                        <span style="text-decoration: line-through; color:#878787">Rs <%=productregularPrice%></span>
                        <span style="text-decoration: none; color: green;">
                            <%= product.category.categoryOffer.value %> % Off
                        </span>
                        </div>
                    <% } else { %>
                        <div>
                        <span style="text-decoration: line-through; color:#878787">Rs <%=product.regularPrice%></span>
                        <span style="text-decoration: none; color: green;">
                            Rs <%= product.category.categoryOffer.value %> Off
                        </span>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <p class="mb-4"><%=product.description%></p>
            <div class="d-flex align-items-center mb-4 pt-2">
                <a href="/addToCart/<%= product._id %>" data-id="<%=product._id%>" class="btn cart-btn" style="background-color: #e7ab3c;color:#f0ffff"><button class="btn  px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button></a>
            </div>
            <div id="myresult" class="img-zoom-result"></div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Highlights</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Available offers</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-4">Ratings and Reviews</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p><%=product.description%></p>
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="mb-3">Product Highlights</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    Materials:plastic
                                </li>
                                <li class="list-group-item px-0">
                                    Age 3+ Years
                                </li>
                                <li class="list-group-item px-0">
                                    Skillset : Analysis & Critical Thinking, Hand & Eye Co-ordination,Object Recognition,Time Management,Creativity & Imagination
                                </li>
                              </ul> 
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-pane-3">
                    <h4 class="mb-3">Available Offers</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group list-group-flush">
                                <% if (product.productOffer) { %>
                                    <% if (product.productOffer.discountType === 'Percentage') { %>
                                        <li class="list-group-item px-0">
                                            Product Offer for the <%= product.productName %> - <%= product.productOffer.value %> % Off
                                        </li>
                                    <% } else { %>
                                        <li class="list-group-item px-0">
                                            Product Offer for the <%= product.productName %> - Rs <%= product.productOffer.value %> Off
                                        </li>
                                    <% } %>
                                <% } else if (product.category.categoryOffer) { %> 
                                    <% if (product.category.categoryOffer.discountType === 'Percentage') { %>
                                        <li class="list-group-item px-0">
                                            Category Offer for the <%= product.category.name %> - <%= product.category.categoryOffer.value %> % Off
                                        </li>
                                    <% } else { %>
                                        <li class="list-group-item px-0">
                                            Category Offer for the <%= product.category.name %> - Rs <%= product.category.categoryOffer.value %> Off
                                        </li>
                                    <% } %>
                                <% } else { %>
                                    <p>No offers</p>
                                <% } %>
                            </ul>
                            
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="tab-pane-4">

                    <div class="row">
                        <div class="col-md-6">
                        <h4 class="mb-3">Ratings and Reviews</h4>
                        <% if (reviews.length > 0) { %>
                            <h5 class="mb-4">Reviews for <%= product.productName %></h5>
                            <div class="col-md-6">
                                <% reviews.forEach(review => { %>
                                    <div class="media mb-4">
                                        <img src="/uploads/re-image/<%= review.productId?.productImage[0] %>" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                        <div class="media-body">
                                            <h6><%= review.userId.name %><small> - <i><%= review.formattedDate %></i></small></h6>
                                            <div class="text-primary mb-2">
                                                <span class="star-rating">
                                                    <% for (let i = 1; i <= 5; i++) { %>
                                                        <span class="star <%= i <= review.rating ? 'selected' : '' %>">&#9733;</span>
                                                    <% } %>
                                                </span>
                                            </div>
                                            <p><%= review.review %></p>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        <% } else { %>
                            <p>No ratings and reviews yet</p>
                        <% } %>
                        </div>
                        <div class="col-md-6" id="rateDiv">
                            <h4 class="mb-4">Leave a review</h4>
                            <form class="rate-form" action="/rateProduct/<%= product._id %>" method="POST">
                                <label for="rating">Rate the product</label>
                                <div class="star-rating">
                                    <span class="star" data-value="1">&#9733;</span>
                                    <span class="star" data-value="2">&#9733;</span>
                                    <span class="star" data-value="3">&#9733;</span>
                                    <span class="star" data-value="4">&#9733;</span>
                                    <span class="star" data-value="5">&#9733;</span>
                                </div>
                                <input type="hidden" name="rating" id="rating" value="0">

                                <label for="review">Write a Review</label><br>
                                <textarea name="review" id="review" rows="3" placeholder="Share your feedback"></textarea>
                                <button type="submit" class="px-1 py-1 text-white" style="background:#e7ab3c;border:none;border-radius:5px;margin-left:1rem">Submit</button>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% if (product.relatedProducts && product.relatedProducts.length > 0) { %>
<section class="women-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
          <div class="product-large set-bg" data-setbg="/images/img1.jpg" style="border-radius: 10px;">
              <h2>You May Also Like</h2>
          </div>
      </div>
      
      <div class="col-lg-8 offset-lg-1" style="border:1px ridge #e7ab3c;border-radius:10px">
        <div class="product-slider owl-carousel">
          
          <% product.relatedProducts.forEach(relatedProduct =>{ %>
            <div class="product-item " style="border:1px ridge #e7ab3c;height:420px;width:250px;margin-top:2rem;border-radius:10px">
              <div class="pi-pic" style="border-radius: 5px;">
                <img src="/uploads/re-image/<%=relatedProduct.productImage[0]%>" alt="">
                <% if(relatedProduct.quantity === 0){ %>
                    <div class="sale" style="background-color: red;">Out of Stock</div>
                <% }else{ %>
                    <div class="sale">Available</div>
                <% } %>
                <div class="icon">
                  <a href="/addToWishlist/<%= relatedProduct._id %>" data-id="<%=relatedProduct._id%>" class="btn wishlist-btn">
                    <i class="icon_heart_alt"></i>
                  </a>
                </div>
                <ul>
                  <li class="w-icon active">
                    <a href="/addToCart/<%=relatedProduct._id%>" data-id="<%=relatedProduct._id%>" class="btn cart-btn">
                      <i class="icon_bag_alt"></i>
                    </a>
                  </li>
                  <li class="quick-view"><a href="/productDetails/<%=relatedProduct._id%>">Quick View</a></li>
                </ul>
              </div>
              <div class="pi-text">
                <div class="catagory-name"><%=relatedProduct.brand%></div>
           
                <h5><%=relatedProduct.productName%></h5>
            
                <div class="product-price">Rs <%=relatedProduct.salePrice%>
                    <% if (relatedProduct.productOffer) { %>
                        <% if (relatedProduct.productOffer.discountType === 'Percentage') { %>
                            <span>Rs <%=relatedProduct.regularPrice%></span>
                            <span style="text-decoration: none; color: green;">
                                <%= relatedProduct.productOffer.value %> % Off
                            </span>
                        <% } else { %>
                            <span>Rs <%=relatedProduct.regularPrice%></span>
                            <span style="text-decoration: none; color: green;">
                                Rs <%= relatedProduct.productOffer.value %> Off
                            </span>
                        <% } %>
                    <% } else if (relatedProduct.category.categoryOffer) { %> 
                        <% if (relatedProduct.category.categoryOffer.discountType === 'Percentage') { %>
                            <span>Rs <%=relatedProduct.regularPrice%></span>
                            <span style="text-decoration: none; color: green;">
                                <%= relatedProduct.category.categoryOffer.value %> % Off
                            </span>
                        <% } else { %>
                            <span>Rs <%=relatedProduct.regularPrice%></span>
                            <span style="text-decoration: none; color: green;">
                                Rs <%= relatedProduct.category.categoryOffer.value %> Off
                            </span>
                        <% } %>
                    <% } %>
                </div>
              </div>
            </div>
          <%})%>
          
        </div>
      </div>
      
    </div>
  </div>
</section>
<% } else { %>
  <h3 class="text-center">No related products available.</h3>
<% } %>


<script>
function myFunction(imgs) {
    
    var expandImg = document.getElementById('expandedImg')
    expandImg.src = imgs.src;  
    expandImg.parentElement.style.display = 'block';  
    
    imageZoom("expandedImg", "myresult");
}
function zoomLensVisible(imgs){
    var result = document.getElementById('myresult');
    var lens = document.createElement('DIV');
    const productDetails = document.getElementsByClassName('product-details');
    lens.setAttribute('class','img-zoom-lens');
    imgs.parentElement.insertBefore(lens,imgs);
    result.style.display = 'block';
    
    imageZoom('expandedImg','myresult');
 
    lens.style.visibility = 'visible';
}
function zoomLensHidden(imgs){
    var result = document.getElementById('myresult');
    var lens = document.querySelector('.img-zoom-lens');
    result.style.display = 'none';
    lens.style.visibility = 'visible'
}
  document.querySelectorAll(".star-rating .star").forEach(star => {
    star.addEventListener("click", function() {
        let rating = this.getAttribute("data-value");
        
        this.closest("form").querySelector("#rating").value = rating;
        
        let stars = this.closest(".star-rating").querySelectorAll(".star");
        stars.forEach(star => {
            if (parseInt(star.getAttribute("data-value")) <= rating) {
                star.classList.add("selected");
                star.style.color = 'yellow';
            } else {
                star.classList.remove("selected");
                star.style.color = 'black';
            }
        });
    });
});
document.querySelectorAll("#rateDiv .rate-form").forEach(form => {
    form.addEventListener("submit",function(event){
        event.preventDefault();
        let formData = {};
        const formElements = this.elements;
        for(let element of formElements){
            if(element.name){
                formData[element.name] = element.value;
            }
        }
        console.log("Form data being sent : ",formData);
        
        fetch(this.action,{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify(formData)
        })
        .then(response => {
            if(!response.ok){
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            Swal.fire({
                icon:data.type,
                title:data.message,
                showConfirmButton:false,
                timer:1500
            })
            .then(() => {
                window.location.reload();
            });
        })
        .catch(error => {
            console.error('Error:',error);
            Swal.fire({
                icon:'error',
                title:'Something went wrong!',
                showConfirmButton:false,
                timer:1500
            });
        });
    });
});
</script>
<%-include('../../views/partials/user/footer')%>