<%-include('../../views/partials/user/header')%>
<nav class="breadcrumbs mt-3 mb-3 container">
    <a href="/userProfile" class="breadcrumbs-txt" style="text-decoration: none;">My Account</a>&gt;
    <a href="/userDetails" class="breadcrumbs-txt" style="text-decoration: none;">My Details</a>
</nav>
<div class="container-fluid" id="div1">
    <div class="col-md-12">
        <div class="border-info py-3 px-3 mt-4" style="border-radius: 10px; background-color: #f0ffff; font-family: monospace;">
            <div class="border-info mx-3 my-3 px-2 py-2" style="border: 1px solid; background-color: #04625f;color:white;border-radius: 10px;display:flex;flex-direction: row;justify-content:space-between;">
                <h5 id="name" class="mx-1 my-1">Name : <%=user.name%></h5><a class="btn" id="editNameBtn" href="" style="text-decoration: none;color: #04625f;background-color: white;font-weight: 600;">Edit</a>
            </div>
            <div class="border-info mx-3 my-3 px-2 py-2" style="border: 1px solid;background-color: #04625f;color:white;border-radius: 10px;display:flex;flex-direction: row;justify-content:space-between;">
                <h5 id="email" class="mx-1 my-1">Email : <%=user.email%></h5><a class="btn " id="editEmailBtn" href="" style="text-decoration: none;color: #04625f;background-color: white;font-weight: 600;">Edit</a>
            </div>
            <div class="border-info mx-3 my-3 px-2 py-2" style="border: 1px solid;background-color: #04625f;color:white;border-radius: 10px;display:flex;flex-direction: row;justify-content:space-between;">
                <h5 id="phone" class="mx-1 my-1">Mobile Number : <%=user.phone%></h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="display: none;" id="div2">
    <div class="col-md-12">
        <div class="border-info px-3 py-3 mt-4" style="border-radius: 10px; background-color: #f0ffff; font-family: monospace;">
            <p style="color: #04625f;font-size: larger;font-weight: 600;">Do you want to change the name?</p>
           <form action="/editName" method="POST" >
            <label for="" style="color:#04625f;font-size: large;font-weight: 500;">Name :</label>
            <input type="text" value="<%=user.name%>" name="newName" style="border-radius:5px;text-align: center;border-color: #04625f;width:86%;height: 20%;font-size: 1.25rem;">
            <button class="px-2 py-1" style="background-color: #04625f;color:white;border-radius: 5px;border:none">Save</button>
           </form>
        </div>
    </div>
</div>
<div class="container-fluid" style="display: none;" id="div3">
    <div class="col-md-12">
        <div class="border-info px-3 py-3 mt-4" style="border-radius: 10px; background-color: #f0ffff; font-family: monospace;">
            <p style="color: #04625f;font-size: larger;font-weight: 600;">Do you want to change the email?</p>
            
           <form action="/editEmail" method="POST" >
            <label for=""style="color:#04625f;font-size: 1.15rem;font-weight: 500;">Email :</label>
            <input type="text" value="<%=user.email%>" name="newEmail" style="border-radius:5px;text-align: center;border-color: #04625f;width:90%;height: 20%;font-size: 1.25rem;">
            <button type="submit" class="px-2 py-1" style="background-color: #04625f;color:white;border-radius: 5px;border:none">Save</button>
           </form>
        </div>
    </div>
</div>
<script>
    const editNameBtn = document.getElementById('editNameBtn');
    const div1 = document.getElementById('div1');
    const div2 = document.getElementById('div2');
    editNameBtn.addEventListener('click',(event) =>  {
       event.preventDefault();
       div1.style.display = 'none';
       div2.style.display = 'block';
    })

    const div3 = document.getElementById('div3');
    const editEmailBtn = document.getElementById('editEmailBtn');
    editEmailBtn.addEventListener('click',(event) => {
        event.preventDefault();
        div1.style.display = 'none';
        div3.style.display = 'block';
    })

</script>

<%-include('../../views/partials/user/footer')%>